#logo-div{
    height: 35%;
    display: block;
    align-items: center; // vertical
    justify-content: center; // horizontal
    margin-bottom: 50px;

    h3{
        text-align: center;
    }

    img{
        width: 45%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}
